# Ambientes Virtuais
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribuição / Pacotes
dist/
build/
*.egg-info/

# Variáveis de ambiente (Segurança!)
.env

# IDEs (Opcional, mas recomendado)
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

